@import "../../styles/partials/variables";
@import "../../styles/partials/typography";
@import "../../styles/partials/mixins";

.events-page{
    font-family: "EduFoundation";
    margin-left: 1rem;
    margin-right: 1rem;

    &__header{
        text-align: center;
        margin-bottom: 0;
    }

    &__container{
        display: flex;
        justify-content: flex-start;
    }

    &__heading{
        width: 25%;
        font-weight: 700;
        margin-bottom: 0.5rem;

        &--description{
            width: 40%;
            margin-left: 0.5rem;
        }
    }

    &__wrapper{
        display: flex;
        border-top: 1px solid $primary-color3;
        
        &--icons{
            margin-left: 0.25rem;
            align-items: center;
            border-top: none;
        }
    }

    &__context{
        font-size: 0.825rem;
        width: 25%;

        &--date{
            font-weight: 500;
        }

        &--description{
            width: 35%;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }

    &__icon{
        width:1.5rem;
        height: 3rem;
        &--delete{
            margin-left: 0.25rem;
        }
    }
}