@font-face {
    font-family: 'Mukta';
    src: url(../../assets/fonts/Mukta-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Mukta';
    src: url(../../assets/fonts/Mukta-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Mukta';
    src: url(../../assets/fonts/Mukta-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Mukta';
    src: url(../../assets/fonts/Mukta-Bold.ttf);
    font-weight: 700;
}


