@font-face {
    font-family: 'EduFoundation';
    src: url(../../assets/fonts/EduNSWACTFoundation-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'EduFoundation';
    src: url(../../assets/fonts/EduNSWACTFoundation-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'EduFoundation';
    src: url(../../assets/fonts/EduNSWACTFoundation-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'EduFoundation';
    src: url(../../assets/fonts/EduNSWACTFoundation-Bold.ttf);
    font-weight: 700;
}


