// $primary-color1: #8B4411;
// $primary-color2: #AE6E4E;
// $primary-color3: #CC9767;
// $primary-color4: #F5F5DD;
// $primary-color5: #eac4d5;
// $primary-color6: #C7AD7F;
// $primary-color7: #A57A5A;

$primary-color1: #809bce;
$primary-color2: #95b8d1;
$primary-color3: #b8e0d2;
$primary-color4: #d6eadf;
$primary-color5: #eac4d5;

$supporting-color1: #ffffff;

//Secondary Colors/ potential secondary theme color

$secondary-color1: #d4afb9;
$secondary-color2: #d1cfe9;
$secondary-color3: #9cadce;
$secondary-color4: #7ec4cf;
$secondary-color5: #315875;