$primary-color-1: #8B4411;
$primary-color-2: #BD8334;
$primary-color-3: #f2eeeb;
$primary-color-4: #F5F5DD;
$primary-color-5: #eac4d5;
$primary-color-6: #C7AD7F;
$primary-color-7: #A57A5A;

$primary-color1: #809bce;
$primary-color2: #95b8d1;
$primary-color3: #b8e0d2;
$primary-color4: #d6eadf;
$primary-color5: #eac4d5;

$supporting-color1: #ffffff;
$supporting-color2: #f1c753;

//Secondary Colors/ potential secondary theme color

$secondary-color1: #d4afb9;
$secondary-color2: #d1cfe9;
$secondary-color3: #9cadce;
$secondary-color4: #7ec4cf;
$secondary-color5: #315875;