@import "../../styles/partials/variables";
@import "../../styles/partials/typography";
@import "../../styles/partials/mixins";

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calendar{

    &__container{
        display: flex;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    &__button{
        border-radius: 12px;
        border: 1px solid $primary-color3;
        width: 10rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 0.875rem;
        background-color: $primary-color3;
        color: $supporting-color1;
        font-weight: 550;

    }
}

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel{
    color: $supporting-color1 !important;
    font-weight: 600 !important;
}

.css-cwhad8-MuiDateCalendar-root{
    margin-left: auto !important;
    margin-right: auto !important;
}

.css-16b5y55-MuiPickersLayout-contentWrapper{
    margin: 0;
}

.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected{
    background-color: $primary-color3;
}

.css-4pax7l-MuiPickersLayout-root .MuiPickersLayout-toolbar, .MuiPickersLayout-actionBar, .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    display: none;
}

.css-nk89i7-MuiPickersCalendarHeader-root {
    background-color: $primary-color1;
    color: white;
    margin-bottom: 0 !important;
    justify-content: center;
}

.css-i5q14k-MuiDayCalendar-header {
    background-color: $primary-color2;
}

.css-12p2adl-MuiDayCalendar-monthContainer {
    border: 1px solid $primary-color2;
}

.css-4pax7l-MuiPickersLayout-root .MuiPickersLayout-actionBar{
    display: none;
}