@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography";

.header{
    font-family: "EduFoundation";
    background-color: $secondary-color5;

    @include tablet{
        display: flex;
        justify-content: space-between;
    }

    &__logo{
        @include tablet{
            padding-left: 2rem;
            padding-bottom: 1rem;
        }
    }

    &__container{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }

    &__nav{
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;
        padding-left: 1rem;
        color: $supporting-color1;
        font-size: 1.1rem;;
        font-weight: 700;

        @include tablet{
            align-items: flex-end;
            width: 20rem;
            padding-right: 2rem;
            padding-bottom: 1rem;
        }
    }
    
    &__link{

        &:focus{
            color: $supporting-color1;
        }

        &:visited{
            color: $supporting-color1;
        }

        &:active{
            color: $supporting-color1;
        }

        &:hover{
            color: $primary-color5;
        }

    }
}