@import "../../styles/partials/variables";
@import "../../styles/partials/typography";
@import "../../styles/partials/mixins";

// .header{
//     visibility: hidden;
// }

.login{
    background-color: $primary-color-2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @include tablet{
        background-color: $primary-color-2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    &__container--main{
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__frame{
        background-color: $primary-color-1;
        height:22rem;
        width: 21rem;
        display: flex;
        justify-content: center;
        border-radius: 8px;

        @include tablet{
            height:24rem;
            width: 27rem;
            display: flex;
            justify-content: center;
            border-radius: 8px;;
        }
       
    }

    &__heading{
        color: $supporting-color1;
        font-size: 1rem;
        font-weight: 700;
    }

    &__label{
        margin-bottom: 0.5rem;
        padding-bottom: 0.25rem;
        margin-top: 0.5rem;

        @include tablet{
            margin-bottom: 0.5rem;
            padding-bottom: 0.25rem;
            margin-top: 0.5rem;
        }
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        background-color: $supporting-color1;
        width: 15rem;
        padding-bottom: 1rem;;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        border-radius: 8px;
        height: 18rem;
        margin-top: auto;
        margin-bottom: auto;

        @include tablet{
            display: flex;
            flex-direction: column;
            background-color: $supporting-color1;
            width: 20rem;
            padding-bottom: 1rem;;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 1rem;
            border-radius: 8px;
            height: 18rem;
            margin-top: auto;
            margin-bottom: auto;
        }

    }

    &__input{
        width: 95%;
        margin-bottom: 1rem;;
        font-size: 1rem;
        padding-left: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;

        @include tablet{
            width: 100%;
            margin-bottom: 1rem;;
            font-size: 1rem;
            padding-left: 0.5rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
    }

    &__button{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        width: 5rem;
        border-radius: 10px;
        background-color: $primary-color-3;
        align-self: flex-end;

        @include tablet{
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            width: 5rem;
            border-radius: 10px;
            background-color: $primary-color-3;
            align-self: flex-end;
        }
    }

    &__subcontainer{
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;

        @include tablet{
            margin-top: 2rem;
            display: flex;
            justify-content: space-around;
        }
    }

    &__link{
        font-weight: 700;
    }
}