@import "../../styles/partials/variables";
@import "../../styles/partials/typography";
@import "../../styles/partials/mixins";

.header{
    width: 100%;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, button{
    cursor: pointer;
    text-decoration: none;
    color: black;

    &:visited{
        color: black;
    }
}

.home{
    padding: 0;
    font-family: 'Mukta';
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;

        &--events{
            align-items: flex-start;
            padding-right: 1.5rem;
            padding-left: 1.5rem;

            @include desktop{
                width: 45rem;
                padding-left: 6.5rem;
            }
        }

        &--left{
            @include tablet{
                padding-right: 1.5rem;
                border-right: 2px solid $primary-color-2;
            }
        }
    }

    &__container-content{
        @include tablet{
            display: flex;
            justify-content: space-between;
        }
    }

    &__header{
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 0;
    }

    &__month{
        margin-bottom: 0;
        width: 21.925rem;
        text-align: center;
        background-color: $primary-color-9;
        border-radius: 8px;
        color: $supporting-color1;
        margin-bottom: 0.25rem;;

        @include desktop{
            width: 70rem;
        }
    }

    &__subheading{
        text-align: center;
        background-color: $primary-color-7;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 8px;
        color: $supporting-color1;
        margin-top: 4rem;
        width: 85%;

        @include tablet{
            width: 90%;
        }

        @include desktop{
            width: 110rem;
        }
    }

    &__event{
        margin-bottom: 1rem;
    }

    &__event-date{
        font-weight: 700;
        text-decoration: underline 2px $primary-color-2;

        @include tablet{
            font-size: 0.9rem;
        }

        @include desktop{
            font-size: 1.7rem;
        }
    }

    &__event-number{
        margin-right: 1rem;
        font-size: 1.4rem;

        @include tablet{
            margin-right: 0.5rem;
        }

        @include desktop{
            font-size: 2rem;
        }
    }

    &__event-name{
        font-size: 1rem;
        font-weight: 600;
        margin:0;

        @include tablet{
            font-size: 0.9rem;
        }

        @include desktop{
            font-size: 1.6rem;
        }
    }

    &__event-description{
        margin-top:0;
        margin-bottom: 0;
        margin-left: 2.5rem;
        font-size: 0.875rem;
        @include tablet{
            font-size: 0.9rem;
        }
        @include desktop{
            font-size: 1.4rem;
        }
    }

    &__event-label{
        font-weight: 600;
    }

}